<div class="seg branch">
  <app-icon name="branch" /> main
</div>
<div class="seg">⚡ 0 errors</div>
<div class="seg">⚠ 0 warnings</div>
<div
  class="seg built-with"
  [attr.aria-label]="'Built with Angular ' + angularMajor + ' by Gayashan Perera'"
>
  <svg class="ng-mark" viewBox="0 0 250 250" aria-hidden="true">
    <polygon points="125,30 218,63 204,182 125,225 46,182 32,63" />
    <polygon class="ng-shade" points="125,30 125,225 204,182 218,63" />
    <path d="M125 52 l-65 144 h24 l13-32h57l13 32h24z m0 46 l21 50h-43z" fill="#fff"/>
  </svg>
  <span class="bw-text">
    Built with
    <span class="ng-name">Angular {{ angularMajor }}</span>
    <span class="bw-by">by</span>
    <span class="ng-author">Gayashan Perera</span>
  </span>
  <span class="bw-pulse" aria-hidden="true"></span>
</div>
<div class="right-segs">
  <div class="seg">UTF-8</div>
  <div class="seg">LF</div>
  <div class="seg">{{ lang() }}</div>
  <div class="seg pos">Ln {{ position() }}, Col 1</div>
  <div class="seg">⌘ Available 2026</div>
</div>
